:root{
    --total-color: #333333;
    --title-color: #4E5150;
    --input-title-color: #4F4F4F;
    --placeholder-color: #828282;
    --orange-price: #F2994A;
    --orange-button: #F2994A;
    --input-button: #E0E0E0;
    --color-f: #BDBDBD;
}
@font-face {
    font-family: Montserrat;
    src: url(font/Montserrat-VariableFont_wght.ttf);
}
html, body{
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
}
*, *:after, *:before{
    box-sizing: inherit;
    padding: 0px;
    margin: 0px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    width: 100%;
    padding: 1rem;
    max-width: 960px;
    margin: 0px auto;
}
.title{
    font-size: 2.3rem;
    font-weight: 600;
    color: var(--title-color);
}
/* products aside */
.products{
    flex-grow: 0;
    margin: 0px auto;
    padding: 2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    background-color: #F2F2F2;
    align-self: flex-start;
    justify-self: flex-start;
}
.product-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-bottom: 1rem;
    max-width:  330px;
    margin: 0rem auto;
}
.product-container img{
    object-fit: contain;
    border-radius: 1rem;
}
.data-product{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
}
.product-name{
    width: 100%;
    font-size: 1rem;
    color: var(-title-color);
}
.info-price{
    flex-grow: 1;
    padding-top: .5rem;
}
.price{
    display: inline-block;
    font-size: 1rem;
    color: var(--orange-price);
}
.original-price{
    display: inline-block;
    font-size: .8rem;
    color: var(--title-color);
}
.amount {
    align-self: flex-start;
    display: flex;
    justify-content: space-between;
    flex-grow: 0;
    width: 80%;
    margin-left: 0px;
    padding: .7rem .6rem;
    border-radius: .7rem;
    border: 1px solid #828282;
}
.amount input{
    width: 30%;
    border: none;
    text-align: center;
    background-color: #F2F2F2;;
}
.amount input:focus{
    border: none;
    outline: none;
}
.amount input[type=number]::-webkit-inner-spin-button,
.amount input[type=number]::-webkit-outer-spin-button {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    margin: 0px;
}
.plus, .minus{
    padding: .3rem .5rem;
    border: none;
    border-radius: .5rem;
    background-color: var(--input-button);
}
.result{ 
    padding-top: 3rem;
    max-width:  330px;
    margin: 0rem auto;
}
.result div{
    display: flex;
    justify-content: space-between;
    padding: .5rem 0rem;
}
.total-title{
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--total-color);
}
.result p{
    font-size: .9rem;
    font-weight: 600;
    color: var(--total-color);
}
/*end products*/
/* form */
.sub-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: none;
    outline: none;
    padding-bottom: 2rem;
    width: 100%;
}
.subtitle{
    font-size: 1.1rem;
    font-weight: 600;
    padding-bottom: 1rem;
    color: var(--total-color);
}
.input-title{
    font-size: .8rem;
    font-weight: 600;
    color: var(--input-title-color);
}
.border{
    display: flex;
    padding: .5rem;
    margin: .5rem 0rem 1rem 0rem;
    border-radius: 1rem;
    border: 2px solid #828282;
}
.icon, .icon-orange{
    width: 1.7rem;
    padding-right: .3rem;
}
.icon-orange{
    display: none;
}
.border input, .border select{
    flex-grow: 1;
    width: 100px;
    outline: none;
    border: none;
    font-size: 1rem;
    color: var(--total-color);
    background-color: white;
}
option,option::selection,option:active{
    background-color: white;
}
.border input:active{
    border: none;
}
.border input::placeholder{
    font-size: 1rem;
    color: var(--placeholder-color);
}
.check-div{ 
    display: flex;
    align-items: center;
    padding: 1rem 0rem 2rem 0rem;
}
.check-div input{
    width: 1.3rem;
    height: 1.3rem;
}
.save{
    font-size: .8rem;
    font-weight: 600;
    color: var(--input-title-color);
    padding-left: .5rem;
}
.button-container{ display: flex;}
#s-bns #s-all-bn.c-bn,
#s-bns #s-rall-bn.c-bn,
#s-bns #s-sv-bn.c-bn,
.orange-button{
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: .7rem;
    padding: 1rem 3rem;
    margin-left: auto;
    background-color: var(--orange-button);
    color: white;
}
#boton-oculto{
    font-size: 3rem;
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    background-color: rgba(0, 0, 0, 0);
    border:none;
    color: #e9ad79;
}
#boton-oculto:hover{
    color: var(--orange-button);
}
footer{
    justify-content: center;
    font-family: Montserrat;
    font-size: 0.9rem;
    text-align: center;
    padding: 1rem;
    color: var(--color-f);
}
footer p{
    font-weight: 500;
}
footer a{
    font-weight: 700;
    color: var(--color-f);
}
.sm-40{width: 40%;}
.sm-48{width: 48%;}
.sm-50{width: 50%;}
.sm-100{ width: 100%;}
@media (min-width: 610px){
    .md-40{ width: 40%;}
    .container{
        flex-direction: row;
    }
    .product-container{
        max-width:  270px;
    }
    .md-auto { width: auto;}
    .md-100{ width: 100%;}
}
@media (min-width: 720px){
    .lg-50 { width: 50%;}
    .lg-48{width: 48%;}
}
